*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Mulish', sans-serif;
}

.buy-quick {
    left: 0;
    z-index: 100;
    top: 0;
    font-size: 20px;
    position: sticky;
    color: white;
}

.buy-quick1 {
    position: relative;
}

.buy {
    position: absolute;
    right: 0;
    top: 200px;
    background-color: deeppink;
    gap: 5px;
    font-size: 13px;
    padding: 5px 40px 5px 10px;
    text-transform: uppercase;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.quick {
    position: absolute;
    right: 0;
    top: 200px;
    margin-top: 50px;
    background-color: #18252c;
    gap: 5px;
    font-size: 13px;
    padding: 5px 20px 5px 10px;
    text-transform: uppercase;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.buy span,
.quick span {
    display: none;
}

.buy:hover span {
    display: block;
}

.quick:hover span {
    display: block;
}

.buy:hover,
.quick:hover {
    display: flex;
    align-items: center;

}
.herosection{
    background-image: url(../img/jpg/about.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.herosection::before {
    content: '';
    height: 400px;
    width: 100%;
    background-color: rgba(31, 39, 50, 0.55);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    z-index: 1;
}
.hero-about{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    z-index: 5;
}
.navbar {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute !important;
    z-index: 4;
    color: white;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.475);
    padding: 0px 50px !important;
    top: 0;
}

.btn-primary {
    display: none !important;
}

.box2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu {
    display: flex;
    gap: 20px;
    font-size: 15px;
}

.nav1 {
    color: deeppink;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 40px 0px !important;
}

.nav,
.page,
.service {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 40px 0px !important;
}

.quote {
    background-color: deeppink;
    padding: 5px 20px;
}
.page a{
    color: black;
    text-decoration: none;
}
.page:hover{
    color: deeppink;
}

.service:hover {
    color: deeppink;
}

.page-hover {
    display: none;
}

.page:hover .page-hover {
    position: absolute;
    top: 80px;
    background-color: white;
    z-index: 3;
    display: block;
    left: 35%;
    color: black;
    padding: 20px 60px 20px 40px;
    line-height: 40px;
}
.page-hover a{
    color: black;
    text-decoration: none;
}
.service:hover .page-hover {
    position: absolute;
    top: 80px;
    background-color: white;
    z-index: 3;
    display: block;
    left: 40%;
    color: black;
    padding: 20px 60px 20px 40px;
    line-height: 40px;
}

.about-page li {}

.about-page:hover {
    color: deeppink;
}
.main{
    display: flex;
    padding: 50px 0;
    gap: 100px; 
}
.leftside{
    width: 70%;
}

.section1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 30px;
}
.meta-list{
    display: flex;
    gap: 40px;
    border-bottom: 1px solid gainsboro;
    padding: 30px 0;
    font-weight: 600;
}
.meta-list li{
    list-style: none;
}
.section1 p{
    line-height: 30px;
    padding: 20px 0;
}
#par1.active{
    bottom: 0;
    opacity: 1;
}
#par1{
    position: relative;
    bottom: -50px;
    opacity: 0;
    transition: 1s;
}
#par2.active{
    bottom: 0;
    opacity: 1;
}
#par2{
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: 2s;
}
#par3.active{
    bottom: 0;
    opacity: 1;
}
#par3{
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: 2s;
}
.img1{
    display: flex;
    /* gap: 40px; */
    margin: 20px 0;
}
.quote blockquote{
    height: 30px;
}
.quote p{
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 20px;
}
.tag{
    display: flex;
    justify-content: space-between;
}
.media2,.tag1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tag1 button{
    background-color: rgb(250, 242, 242) !important;
    border: 1px solid gray !important;
    padding: 5px 10px !important;

}
.tag1:hover button{
    background-color: deeppink !important;
    border: none !important;
    color: white;
}
.section2{
    margin: 50px 0;
}
.sub1 button{
    margin: 30px 0;
    background-color: deeppink;
    padding: 10px 10px;
    border: none;
    color: white;
}
.sub1:hover button{
    background-color: #18252c;
}
.rightside{
    width: 30%;
}
.recent-post,.category1,.tags,.follow{
    padding: 50px 30px;
    background-color: #18252c;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}
.recent-post h3{
}
.post1{
    display: flex;
    gap: 30px;
    padding: 20px 0;
    align-items: center;
}
.post1-img img{
    height: 70px;
    width: 70px;
    object-fit: cover;
}
.post-detail{
    line-height: 30px;
}
.cat{
    background-color: rgba(255,255,255,0.1);
    color: white;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
}
.cat:hover{
    color: black;
    background-color: white;
}
/* tag1 */
.tag1{
    background-color: deeppink;
    color: white;
    width: auto;
    margin: 10px 10px;
    display: inline-flex;
    padding: 5px 10px;

}
/* follow-icon */
.follow-icon{
    color: deeppink;
    background-color: white;
    display: inline-flex;
    margin-right: 10px;
    margin-top: 10px;
    padding: 13px 13px;   
}
.follow-icon:hover{
    color: white;
    background-color: deeppink;
}
/* solu */
.solu{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #f5fafe;
    height: 200px;
}
.solu img{
    width: 50%;
    /* height: 100%; */
}
.con-solu p{
    padding: 0;
}
.solu1{
    display: flex;
    align-items: center;
    background-color: #f5fafe;
    gap: 20px;
    height: 200px;

}
.solu1 img{
    width: 50%;
    /* height: 100%; */
}
.con-solu p{
    padding: 0;
}
.list.active{
    bottom: 0;
    opacity: 1;
}
.list{
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: 2s;
}
#par4.active{
    bottom: 0;
    opacity: 1;
}
#par4{
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: 3s;
}
.list li{
list-style: none;
line-height: 40px;
font-size: 18px;
font-weight: 700;
}
.list i{
    color: deeppink;
margin-right: 10px;

}




/* footer start */
footer {
    background-color: #18252c;
    padding: 20px 0;
    color: white;
}

.footer {
    display: flex;
    gap: 200px;
    border-bottom: 1px solid gainsboro;
    text-align: left;

}

/* log */
.log {
    width: 33.33%;
}

.log p {
    font-size: 20px;
    margin: 30px 0 0 0;
    color: gainsboro;
    text-align: left;
}

.media {
    /* display: flex; */
    gap: 20px;
}

.media1 {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    height: 41px;
    line-height: 41px;
    width: 41px;
    margin: 30px 10px 0 0;
}

.media1:hover {
    background-color: deeppink;
}

/* sub */
.sub {
    width: 33.33%;
}

.sub p {
    color: gainsboro;
    margin: 30px 0 30px 0;
    font-size: 20px;
    text-align: left;

}

.sub button {
    background-color: #18252c;
    color: gainsboro;
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid deeppink;
    border-radius: 10px;
}

/* contact */
.contact {
    width: 33.33%;
}
.ph {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}

.div-icon i {
    color: deeppink;
    font-size: 30px;
}

footer p {
    text-align: center;
    margin: 20px 0 0 0;
}

footer span {
    color: deeppink;
}

/* footer close */



/* MEDIA QUERY */
@media only screen and (min-width: 320px) and (max-width: 990px) {

    .menu,
    .quote,
    .year1,
    .processimg,
    .buy-quick {
        display: none;
    }
    .herosection{
        height: 300px;
    }
    .herosection::before{
        height: 300px;
    }
    .card {
        width: 100% !important;
    }

    .navbar {
        padding: 10px 20px !important;
        justify-content: space-between !important;
        gap: 20px;
    }
    .info-img2,.blub{
        display: none;
    }
    .info-img1 img{
        height: 100%;
        margin: 0 10px;
    }

    .box2 {
        width: 20%;
        display: none;
    }

    .log1 {
        width: 30%;
    }

    .log1 h2 {
        font-size: small;
    }
    .btn-primary {
        display: block !important;
        background-color: deeppink !important;
        border: none !important;
        border-radius: 0 !important;
        padding: 10px 15px !important;
    }
    .offcanvas.offcanvas-end {
        width: 100% !important;
        top: 0 !important;
        height: 100% !important;
    }

    /* toggle */
    #toggle-hover {
        display: none;
        position: relative;
        top: 0;
    }

    .toggle-hover a {
        color: #1f2732;
        text-decoration: none;
    }
/* toggle1 */
#toggle-hover1 {
    display: none;
    position: relative;
    top: 0;
}

.toggle-hover1 a {
    color: #1f2732;
    text-decoration: none;
}
    .about-page {
        border-bottom: 1px solid #e6e6e6;
        padding: 30px 0px 30px 20px;
        width: 100%;
        color: #1f2732;
    }
    .nav1{
        text-decoration: none !important;
    }
    .nav{
        text-decoration: none !important;
        color: black;
    }
.nav:hover{
    color: deeppink;
}

    .home1,
    .pages1,
    .services1,
    .projects1,
    .blog1,
    .contact1 {
        border-bottom: 1px solid gainsboro;
        padding: 10px 0;
    }

    .nav1,
    .nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gainsboro;
        padding: 10px 0;
    }

    .offcanvas.offcanvas-end {
        height: 400px;
    }
    .main{
        flex-wrap: wrap-reverse;
    }
    .leftside,.rightside{
        width: 100%;
    }
    .img1{
        flex-wrap: wrap;
    }

    /* footer */
    .footer {
        flex-wrap: wrap;
        gap: 20px;
    }

    .log,
    .sub,
    .contact {
        width: 100%;
        font-size: 20px;
    }

    .ph {
        font-size: medium;
    }

}
@media only screen and (min-width: 991px) and (max-width: 1226px) {
    .box2{
        display: none;
    }
    .main{
        gap: 50px;
    }
    .footer {
        gap: 100px;
    }

}